html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background-color: azure;
}
h1 {
  text-align: center;
  margin: 0 4.8rem;
}
img {
  object-fit: contain;
}
.card {
  width: 50%; /* set the width to 50% of its parent element */
  height: 10rem;
}
